@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

@keyframes slideUp {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
